<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A web app that lets you read articles on popular news sites that get hidden behind paywalls">
    <meta name="author" content="Josh Terrill">
    <title>{{#contentFor "title"}}Paywall Reader{{/contentFor}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="d-flex flex-column h-100">

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <a class="text-dark" href="/"><h1 class="mt-5">Paywall Reader</h1></a>
            {{{body}}}
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container d-flex">
            <div class="justify-content-start">
                <span class="text-muted text-left">No copyright <span id="year"></span></span>
            </div>
            <div class="justify-content-end">
                <a href="https://github.com/joshterrill/paywall-reader" target="_new">
                    <img style="width: 26px;" src="/github.svg" />
                </a>
            </div>
        </div>
    </footer>


    <script>
        document.getElementById('year').innerText = new Date().getFullYear();
    </script>
</body>

</html>