<h3 class="text-secondary">{{sourceText}}</h3>

<form action="/read" method="GET">
    <input type="hidden" name="source" value="{{source}}" />
    <input class="form-control" type="text" name="url" placeholder="Type {{sourceText}} URL here" /> <br />
    <button class="btn btn-success">Submit</button>
</form>