<h1 class="text-secondary">Error fetching article</h1>
<p>The article you're looking for cannot be fetched, it's possible that it has not been indexed yet or there were errors parsing the text.</p>
<p>Newly released articles sometimes take a 4-24 hours to be indexed.</p>
<p>If you feel that this is an issue, <a href="https://github.com/joshterrill/paywall-reader/issues">please submit an issue here.</a></p>
