<p class="lead">A web app that lets you read articles on popular news sites that get hidden behind paywalls.</p>

<div class="row">
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=nytimes.com">
            <div class="card p-5 text-white bg-primary rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote">
                        <p>New York Times</p>
                    </blockquote>
                    <figcaption class="mb-0 text-white">
                        nytimes.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=cooking.nytimes.com">
            <div class="card p-5 text-white bg-success rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote">
                        <p>New York Times Cooking</p>
                    </blockquote>
                    <figcaption class="mb-0 text-white">
                        cooking.nytimes.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=newyorker.com">
            <div class="card p-5 text-white bg-info rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote">
                        <p>The New Yorker</p>
                    </blockquote>
                    <figcaption class="mb-0 text-white">
                        newyorker.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=economist.com">
            <div class="card p-5 text-white bg-danger rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote">
                        <p>The Economist</p>
                    </blockquote>
                    <figcaption class="mb-0 text-white">
                        economist.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=washingtonpost.com">
            <div class="card p-5 bg-warning border rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote text-dark">
                        <p>Washington Post</p>
                    </blockquote>
                    <figcaption class="mb-0 text-dark">
                        washingtonpost.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=latimes.com">
            <div class="card p-5 bg-secondary border rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote text-white">
                        <p>LA Times</p>
                    </blockquote>
                    <figcaption class="mb-0 text-white">
                        latimes.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=theathletic.com">
            <div class="card p-5 bg-dark border rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote text-white">
                        <p>The Athletic</p>
                    </blockquote>
                    <figcaption class="mb-0 text-white">
                        theathletic.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=businessinsider.com">
            <div class="card p-5 bg-light border rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote text-dark">
                        <p>Business Insider</p>
                    </blockquote>
                    <figcaption class="mb-0 text-dark">
                        businessinsider.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=bloomberg.com">
            <div class="card p-5 bg-primary border rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote text-white">
                        <p>Bloomberg</p>
                    </blockquote>
                    <figcaption class="mb-0 text-white">
                        bloomberg.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=vogue.com">
            <div class="card p-5 bg-success border rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote text-white">
                        <p>Vogue</p>
                    </blockquote>
                    <figcaption class="mb-0 text-white">
                        vogue.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=theatlantic.com">
            <div class="card p-5 bg-info border rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote text-white">
                        <p>The Atlantic</p>
                    </blockquote>
                    <figcaption class="mb-0 text-white">
                        atlantic.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=forbes.com">
            <div class="card p-5 text-white bg-danger rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote">
                        <p>Forbes</p>
                    </blockquote>
                    <figcaption class="mb-0 text-white">
                        forbes.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
</div>