<p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
<p>Use <a href="/docs/5.0/examples/sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need be, too.
</p>

<div class="row">
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is another card with title and supporting text below. This card has some
                    additional content to make it slightly taller overall.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=nyt">
            <div class="card p-5 text-white bg-primary rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote">
                        <p>New York Times</p>
                    </blockquote>
                    <figcaption class="mb-0 text-white">
                        nytimes.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=nytcooking">
            <div class="card p-5 text-white bg-success rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote">
                        <p>New York Times Cooking</p>
                    </blockquote>
                    <figcaption class="mb-0 text-white">
                        cooking.nytimes.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=newyorker">
            <div class="card p-5 text-white bg-info rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote">
                        <p>The New Yorker</p>
                    </blockquote>
                    <figcaption class="mb-0 text-white">
                        newyorker.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=cnn">
            <div class="card p-5 text-white bg-danger rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote">
                        <p>CNN</p>
                    </blockquote>
                    <figcaption class="mb-0 text-white">
                        cnn.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=wsj">
            <div class="card p-5 bg-dark border rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote text-white">
                        <p>Wall Street Journal</p>
                    </blockquote>
                    <figcaption class="mb-0 text-white">
                        wallstreetjournal.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
        <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=wapo">
            <div class="card p-5 bg-warning border rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote text-dark">
                        <p>Washington Post</p>
                    </blockquote>
                    <figcaption class="mb-0 text-dark">
                        washingtonpost.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <a href="/article?source=vogue">
            <div class="card p-5 bg-light border rounded-3">
                <figure class="mb-0">
                    <blockquote class="blockquote text-dark">
                        <p>Vogue</p>
                    </blockquote>
                    <figcaption class="mb-0 text-dark">
                        vogue.com
                    </figcaption>
                </figure>
            </div>
        </a>
    </div>
</div>